
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
      - "java"
    commit-message:
      prefix: "chore(deps)"
    groups:
      java-dependencies:
        patterns:
          - "*"
